<ion-view view-title="About">
	<ion-content>
		<div class="wrapper">
			<div class="list" style="margin-top: 20px;color: #768a45;">
		    	<a class="item item-icon-left" href="">
		        	<i class="icon ion-information-circled"></i>
		       		About Us
		       	</a>
		       	<a class="item item-icon-left" href="">
		        	<i class="icon ion-ios-paper"></i>
		       		Privacy Policy
		       	</a>
		      	<a class="item item-icon-left" ng-click="">
		        	<i class="icon ion-document-text medium"></i>
		        	Terms & Conditions
		      	</a>
		      	<a class="item item-icon-left" ng-click="logout()">
		        	<i class="icon ion-document-text medium"></i>
		        	Logout
		      	</a>
		    </div>
		</div>
  	</ion-content>
</ion-view>
