<ion-view>
  <ion-content>  
    <div class="login-wrapper" style="margin-top: 0px">
      <div class="head padding text-center"><H3>Abad Agro</H3></div>
      
      <div class="padding text-center">
        <i class="icon ion-wifi big"></i>
        <p>Lost internet connection?</p>
<br/>
<br/>
        <a href="">
          <i class="icon ion-refresh" style="font-size: 40px;color:#ef473a;"></i>
          <p>Tap to retry</p>
        </a>
      </div>
      
    </div>
  </ion-content>
</ion-view>