<ion-view view-title="Login">
  <ion-content>  
    <div class="login-wrapper">
      <p class="heading">Login</p>
      <div class="row">
        <div class="col-50 text-center">
        <button class="button button-fb"><i class="ion ion-social-facebook"></i></button>
        </div>
        <div class="col-50 text-center">
          <button class="button button-gl"><i class="ion ion-social-googleplus"></i></button>
        </div>
      </div>
      <p class="text-center" style="margin-top: 20px">OR</p>
      
      <div class="form">
        <p class="alert danger animated shake" id="error-msg-error" style="display: none;">Can't leave these field blank!</p>
        <div class="form-group">
          <span class="">Username</span>
          <input type="text" name="" class="form-control" ng-model="data.userid" ng-focus="hideError('error')"/>
        </div>
        <div class="form-group">
          <span class="">Password</span>
          <input type="password" name="" class="form-control" ng-model="data.password" ng-focus="hideError('error')"/>
        </div>
        <button class="button button-full button-balanced" style="margin-top: 40px" ng-click="login()">LOGIN</button>
        <p class="text-center"><a href="#">Forget password </a>|<a href="#/app/signup"> New user? Sign up</a></p>
        <br/>
        <p class="text-center">By signing up, you agree to Abad Agro's <a href="#">Terms & Conditions</a>, and <a href="#">Privacy Policy</a></p>
    </div>
  </ion-content>
</ion-view>
