<ion-view view-title="My Orders">
	<ion-content>  
    	<div class="wrapper" style="margin-top: 50px;">
    		<div class="card padding">
    			<p style="font-size: 16px; font-weight: 600;">Order No: 10191911-039399749</p>
    			<p style="color:#ccc;">Placed on Wednesday, October 25, 2017<br/>
    				Rs. 3000.89 / 2 items / Multiple Shipments</p>
    			<hr style="border-color: rgba(250, 250, 250, 0.43);" />
    			<div class="row">
    				<div class="col-77">
    					<h4>Delevered</h4>
    					<p>Shipment 1: <strong>1 item</strong></p>
    					<img src="../img/abad_assets/Mango.jpg" alt="product" style="width: 50%;">
    					<p>Delivered on<br>Sunday, October 29, 2017</p>
    				</div>
    				<div class="col-33">
    					<a href="#" style="float: right;">View Details</a>
    				</div>
    			</div>
    			<hr style="border-color: rgba(250, 250, 250, 0.43);" />
    			<div class="row">
    				<div class="col-77">
    					<h4>Delevered</h4>
    					<p>Shipment 2: <strong>1 item</strong></p>
    					<img src="../img/abad_assets/Apple.jpg" alt="product" style="width: 50%;">
    					<p>Delivered on<br>Sunday, October 29, 2017</p>
    				</div>
    				<div class="col-33">
    					<a href="#" style="float: right;">View Details</a>
    				</div>
    			</div>

    		</div>
    	</div>
	</ion-content>
</ion-view>