<ion-view view-title="Settings">
  <ion-content>
    <div class="wrapper">
      <div class="list" style="margin-top: 20px;color: #768a45;">
          <a class="item item-icon-left" href="#/app/profileView">
            <i class="icon ion-person"></i>
           Profile
           </a>
           <a class="item item-icon-left" href="#/app/change/password">
            <i class="icon ion-settings"></i>
           Chnage Password
           </a>
          <a class="item item-icon-left" ng-click="logout()">
            <i class="icon ion-power medium"></i>
            Logout
          </a>
        </div>
    </div>
  </ion-content>
</ion-view>