<ion-view view-title="Support">
	<ion-content>
    	<div class="wrapper" style="padding-top: 20px">
    		<div class="row">
    			<div class="col-50">
    				<div class="card" style="padding-left: 10px;">
    					<p class="heading">Write to us</p>
    					<p>House no. 1, Rajgarh Road<br/>
    					   Chandmari, Guwahati<br/>
    					   Assam<br/>
    					   Pin-781003.
    				</div>
    			</div>
    			<div class="col-50">
    				<div class="card" style="padding-left: 10px">
    					<p class="heading">Contact us</p>
    					<p>Email: support@abad.com<br/>
    					Phone: 0301- 9098988<br/>
    					Mobile: 9800303877, 9087365635, 9839876366.</p>
    				</div>
    			</div>
    		</div>
    		<div class="list padding">
    			<button class="button button-full button-positive" ng-click="makeCall()">
					Call Us
				</button>
				<button class="button button-full button-assertive" ng-click="makeCall()">
					Mail Us
				</button>
    		</div>
    	</div>
  	</ion-content>
</ion-view>
